<html>
<style>
        table {
            border: 2px solid;
            border-radius: 8px;
            width: 10%;
        }

        table, th, td {
            border: 1px solid;
            border-collapse: collapse;
            padding: 8px;
        }

        th {
            background-color: #CFA902;
            border-color: #191500;
            color: #FFFAE6;
            text-align: center;
        }

        tr:nth-child(even).data {
            background-color: #FFFCEE;
        }

        tr:nth-child(odd).data {
            background-color: #FFF0B1;
        }

        tr:hover.data {
            background-color: #B2A671;
        }
        header {
            margin: 20px;
        }
    </style>


<head>
    <title>admin</title>
    <a href="/">Home</a>
    <header>Shipping</header>
    <div class="catalog">
    <table>
        <tr>
            <th>orderID</th>
            <th>weightLB</th>
            <th>chargemulti</th>
            <th>shiptotal</th>
        </tr>   

        <% for (part in all) { %>
        <tr>
            <td><%= all[part].orderID %></td>
            <td><%= all[part].weightLB %></td>
            <td>
                current multiplier: <%= all[part].chargemulti %>
                <form action="/administration/charge/<%=all[part].orderID%>" method="POST">
                    <input type="text" name="chargemulti" value="new multiplier?"><br><br>
                    <input type="submit" value="Submit">
                </form>
            </td>
            <td><%= all[part].shiptotal %></td>
        <% }; %>
        </tr>

    </table>
    </div>


    <br>
    <br>
    <br>

    <header>customer orders </header>
    <div class="catalog">
    <table>
        <tr>
            <th>orderID</th>
            <th>date</th>
            <th>time</th>
            <th>status</th>
            <th>price</th>
            <th>weightLB</th>
            <th>authNumber</th>
            <th>transactionID</th>
            <th>custName</th>
            <th>custEmail</th>
            <th>custAddress</th>
            <th>custCity</th>
            <th>custZip</th>
            <th>subtotal</th>
            <th>shippingCharge</th>
        </tr>   

        <% for (part2 in all) { %>
        <tr>
            <td><%= all2[part2].orderID %></td>
            <td><%= all2[part2].date %></td>
            <td><%= all2[part2].time %></td>      
            <td><%= all2[part2].status %></td>   
            <td><%= all2[part2].price %></td>   
            <td><%= all2[part2].weightLB %></td>
            <td><%= all2[part2].authNumber %></td>
            <td><%= all2[part2].transactionID %></td>
            <td><%= all2[part2].custName %></td>
            <td><%= all2[part2].custEmail %></td>
            <td><%= all2[part2].custAddress %></td>
            <td><%= all2[part2].custCity %></td>
            <td><%= all2[part2].custZip %></td>
            <td><%= all2[part2].subtotal %></td>
            <td><%= all2[part2].shippingCharge %></td>
        <% }; %>
        </tr>

    </table>
    </div>
</head>
<body>

</body>

</html>

